@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=The+Nautigal&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-color:#f5f5f5;
  --button-primary:#FF99CC;
  --button-secondary: #785AFF;
  --button-third:#BFBFBF;
  --hover: #A2F451;
  --white: #ffffff;
  --black: #000000;
}
body{
  background: #e5e5e5;
  height: 1000px;
}
.header{
  display: flex;
  justify-content: center;
  background-color: var(--button-secondary);
  padding: 10px 0;
}
.header-img{
  width: 337px;
  height: 200px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-img{
 display: flex;
 align-content: space-between;
 width: 100%;
 max-width: 337px;
}
.body-img1, .body-img2{
  /* width: 50%;
  height: 17em;
  background-position: center;
  background-size: cover; */
}
.body-img1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 17em;
  background-position: center;
  background-size: cover;
}
.margin-img1 {
  margin: 5px 5px 0 0;
}
.margin-img2{
  margin: 5px 0 0 5px;
}
.body-img1 label{
  font-size: 8px !important;
}
.body-img2{
  /* margin: 10px 0 0 5px; */
}
.header-img input, .header-img label, .body-img1 input, .body-img1 label{
display: none;
background: var(--button-secondary);
padding: 10px 17px;
border-radius: 5px;
color:white;
cursor: pointer;
font-size: 10px;
font-weight: bold;
transition: .2s all ease-in;
}

.header-img:hover label, .body-img1:hover label{
  display: block;
  cursor: pointer;
}
/* .header-img label:hover, .body-img1 label:hover{
  background: var(--button-primary);
  box-shadow: 0 9px 6px -1px rgba(0,0,0,0.14), 0 1px 5px 1px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
} */

.navbar {
  display: flex;
  align-items: center;
}
.navbar ul{
  display: flex;
}
.navbar ul li{
  list-style: none;
  text-decoration: none;
}
.iconos-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.zoom-bar{
  text-align: center;
  background-color: var(--button-secondary);
  padding: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.zoom-bar p{
  color:var(--white);
  font-weight: bold;
  padding: 0 20px;
}
.zoom-bar .zoom-icon{
  color:var(--white);
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.zoom-range{
  display: flex;
}
.zoom-range input{
  margin: 0 15px;
}
.iconos-menu{
  cursor:pointer;
}
.iconos-menu svg{
  font-size: 20px;
  margin: 10px 40px;
  z-index: 1;
  color:var(--button-secondary);
}
.iconos-menu li{
  z-index: 1;
  color:var(--white);
  font-size: 8px;
  margin-top: 10px;
}
.navbar-left ul div:first-child::after, .navbar-right ul div:first-child::after{
  content: '';
  position: absolute;
  top: 12px;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 0;
}
.navbar ul div:hover::after{
  background-color: var(--hover);
  transition: .3s;
}
.navbar ul div:nth-child(even):hover::after{
  background-color: var(--hover) !important;
}
.navbar-left ul div:nth-child(2)::after, .navbar-right ul div:nth-child(2)::after{
  content: '';
  position: absolute;
  top: 12px;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 0;
}

.navbar-footer ul{
  display: flex;
  flex-direction: column;
}

.navbar-footer ul li{
  list-style: none;
  text-decoration: none;
  padding-bottom: 15px;
}

.navbar-footer .iconos-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor:pointer;
  padding-bottom: 10px;
}

.navbar-footer .iconos-menu svg{
  font-size: 20px;
  z-index: 1;
  color:var(--black);
  margin-top: 8px;
}

.navbar-footer .iconos-menu::after{
  content:'';
  position: absolute;
  background-color: var(--button-third);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar-footer .iconos-menu:hover::after, .navbar-footer .iconos-menu:hover:focus{
  background-color: var(--button-primary);
}

.navbar-footer .iconos-menu li{
  z-index: 1;
  color:var(--black);
  font-size: 8px;
  padding-top: 10px;
}  
.footer{
  display: flex;
}
.navbar-footer{
  background-color: var(--main-bg-color);
  box-shadow: 0 9px 6px -1px rgba(0,0,0,0.14), 0 1px 5px 1px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
  position: absolute;
  right:5em;
  top:10em;
  padding: 30px;
  border-radius: 10px;
}
.navbar-footer-top, .navbar-footer-bottom{
  display: flex;
}
.navbar-footer-2 ul{
  padding-top: 18vh;
}
.navbar-footer-2 ul li {
  background: #e5e5e5;
  padding: 20px;
  margin-bottom: 17px;
  background: var(--main-bg-color);
  box-shadow:0 1px 5px 1px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
  padding: 20px 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  z-index: -20;
}
.rotate-bar .range{
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.replace-img{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center ;
height: 100px;
width: 200px;
}
.replace-img svg{
  font-size: 70px;
}
.replace-img p{
  font-size: 12px;
  padding-bottom: 20px;
}
.replace-img button{
  font-weight: bold;
  color: var(--white);
  background-color: #785AFF;
  padding: 10px;
  border-radius: 50px;
  width: 100%;
}
.increase-panel{
  margin: 30px 0 !important;
}
.increase-panel .close-panel{
  bottom: 35% ;
}
.increase-panel .letter-size {
  padding: 20px 0;
}
.font-size-bar .letter-size, .letter-size{
  display: flex;
  justify-content: center;
  align-items: center;
}
.font-size-bar p, .letter-size p, .font-size-bar-left p{
  color:var(--button-secondary);
  font-weight: bold;
  padding: 0 20px;
  font-size: 20px;
}
.font-size-bar svg, .letter-size svg, .font-size-bar-left svg{
  color:var(--button-primary);
  font-size: 40px;
  cursor: pointer;  
}
.letter-size input{
  color:var(--button-secondary);
  font-weight: bold;
  padding: 0 20px;
  font-size: 20px;
  width: 70px;
  border: none;
  background-color: #f5f5f5;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* .color-select {
  display: none;
  position: absolute;
  bottom: 60px;
  right: -165px;
  background: #e5e5e5;
  padding: 20px;
  margin-bottom: 17px;
  background: var(--main-bg-color);
  box-shadow:0 1px 5px 1px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
  padding: 20px 57px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  z-index: -20;
} */
.color-select input, .color-select-left input{
  cursor: pointer;
  box-shadow:0 1px 5px 1px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}
.color-select-left{
  display: none;
  position: absolute;
  bottom: 60px;
  left: -165px;
  background: #e5e5e5;
  padding: 20px;
  margin-bottom: 17px;
  background: var(--main-bg-color);
  box-shadow:0 1px 5px 1px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
  padding: 20px 57px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  z-index: -20;
}
.page{
  background: var(--white);
  box-shadow:0 1px 5px 1px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
  width: 24em;
  height: 40em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  padding-top: 20px;
  margin-bottom: 100px;
}
.page > div{
  overflow: hidden !important;
}
.page-template-flex{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.page .body-img{
  display: flex;
  justify-content: center;
}
.page img:first-child{
  padding: 10px 5px 0 0 ;
}
.page img:nth-child(2) {
  padding: 10px 0 0 5px;
}
.texto-div-big-section{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.texto-div-big-section input{
  width: 140px;
  text-align: center;
}
.texto {
  font-family: 'The Nautigal', cursive;
  font-size: 30px;
}
.texto-div-big-section .second-child{
  padding-top: 13px;
  font-size: 8px;
}
/* .texto p{
  font-size: 20px;
} */
.texto-amistad{
  text-align: left;
  padding: 20px;
}
.texto-amistad h2{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}
.texto-amistad h4{
  font-size: 12px;
}
.texto-amistad h4::after{
  content: '';
  position: absolute;
  bottom:150px;
  left: 20px;
  width: 100px;
  height: 1px;
  background: var(--black);
}
.texto-amistad p{
  font-size: 15px;
  padding-top: 25px;
}
.nombres-template{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 60px 30px 0;
}
.nombres-template .bloque-texto{
  width: 210px;
  text-align: left;
  color: var(--white);
  font-family: 'Times New Roman', Times, serif;
  word-wrap: break-word;
}
.nombres-template h1{
  font-size: 210px;
  line-height:140px;
}

.nombres-template h2{
  font-size: 40px;
}
.nombres-template span{
  font-size: 12px;
  font-style: italic;
}
.nombres-template p{
  font-style: 14px;
  font-style: italic;
}
.font-stroke{
  -webkit-text-stroke: 2px green;
}
.home{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 50px;
}
.home-grid{
  background: var(--white);
  width: 300px;
  height: 450px;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  margin: 10px;
  position: relative;
  transition: .1s;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}
.home-grid:hover{
  transform: scale(1.05);
}
.home-grid h1{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
}
.page-template-flex input[type="range"]{
  cursor: pointer;
}
.rotate-bar-img{
  display: none;
  position: absolute;
  top: 0;
  right: -180px;
  background: #e5e5e5;
  padding: 20px;
  margin-bottom: 17px;
  background: var(--main-bg-color);
  box-shadow:0 1px 5px 1px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
  padding: 20px 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  z-index: -20;
}
.font-size-bar{
  display: none;
  position: absolute;
  bottom: 0;
  right: -166px;
  background: #e5e5e5;
  padding: 20px;
  background: var(--main-bg-color);
  box-shadow:0 1px 5px 1px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
  padding: 20px 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  z-index: -20;
}
.font-size-bar-left{
  display: none;
  position: absolute;
  bottom: 0;
  left: -166px;
  background: #e5e5e5;
  padding: 20px;
  background: var(--main-bg-color);
  box-shadow:0 1px 5px 1px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
  padding: 20px 25px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  z-index: -20;
}
.close-block{
  position: absolute;
  top:-8px;
  right: -5px;
  font-size: 20px;
  color:var(--button-primary)
}
.close-block:hover{
  color: var(--button-secondary)
}
.color-select-left .close-block{
  position: absolute;
  top:-8px;
  left: -5px;
  font-size: 20px;
  color:var(--button-primary)
}
.color-select-left .close-block:hover{
  color: var(--button-secondary)
}
.login-modal form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 400px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--white);
  padding: 30px;
  border-radius: 10px;
  z-index: 1000;
}
form button{
  background-color: var(--button-secondary);
  color:white;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  margin: 10px 0;
  transition: 0.3s;
}
form button:hover{
  background-color: var(--button-primary);
}
form span{
  font-size: 12px;
}
form input{
  border:1px solid grey;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
}
::-webkit-input-placeholder{
  font-size: 12px;
}
form img{
  padding-bottom: 10px;
}
.overlay{
  background-color: #000000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  cursor: pointer;
  z-index: 999;
}
.close-modal{
  position: absolute;
  top:5px;
  right: 5px;
  font-size: 30px;
  color:var(--button-secondary);
  cursor: pointer;
}
.navbar-footer span{
  font-size: 10px;
}
.functions-bar{
  text-align: center;
}
.functions-bar h3{
  font-size: 12px;
  padding-bottom: 10px;
}
.paleta-grid{
  display: flex;
  flex-wrap: wrap;
}
.paleta-grid div{
  width: 30px;
  height: 30px;
  background-color: red;
  margin: 10px;
  border: 2px solid black;
  cursor: pointer;
  transition: .2s ease-in all;
}
.paleta-grid div:hover{
  transform: scale(1.1);
}
.set-expand-replace > svg,.set-expand-rotate > svg{
  font-size: 50px !important;
}
.set-expand-replace > li, .set-expand-rotate > li{
  font-size: 15px !important;
}
.set-expand-replace, .set-expand-rotate{
  background-color: var(--main-bg-color);
  padding: 30px;
  border-radius: 10px;
  z-index: 100;
}
.navbar-footer .set-expand-replace::after{
  content:'';
  position: absolute;
  background-color: var(--button-third);
  width: 100px;
  height: 100px;
  top:43px;
  border-radius: 50%;
}
.iconos-menu p {
  font-size: 8px;
}
.avatar-div{
 position:absolute;
 display: flex;
 flex-direction: column;
 align-items: center;
 right: 20px;
}
.avatar-div p {
  color:var(--white);
  font-size: 12px;
  padding-top: 5px;
}
.avatar{
  width: 50px !important;
  height: 50px !important;
}
.close-panel{
  position: absolute !important;
  bottom: 30%;
  right: 0px;
  width: 25px !important;
  color:var(--button-secondary) !important;
  cursor: pointer;
}
.close-panel:hover{
  color: var(--button-primary) !important;
}
.range-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.range-div-header{
  display: flex;
  align-items: center;
}
.range-div-header p {
  padding-right: 10px;
  color:var(--button-secondary);
  font-weight: bold;
}
.range-div input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}
.range-div input[type="range"]::-webkit-slider-runnable-track {
  background: #053a5f;
  height: 0.5rem;
}
/********** Range Input Styles **********/
/*Range Reset*/
.range-div input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 10rem;
}

/* Removes default focus */
.range-div input[type="range"]:focus {
 outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
.range-div input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--button-third);
  border-radius: 0.5rem;
  height: 0.5rem;  
}

/* slider thumb */
.range-div input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -7px; /* Centers thumb on the track */
  /*custom styles*/
  background-color: var(--button-primary);
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
}

.range-div input[type="range"]:focus::-webkit-slider-thumb {   
 border: 1px solid var(--button-secondary);
 outline: 3px solid var(--button-secondary);
 outline-offset: 0.125rem; 
}

/******** Firefox styles ********/
/* slider track */
.range-div input[type="range"]::-moz-range-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
.range-div input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: var(--button-primary);
  height: 2rem;
  width: 1rem;
}

.range-div input[type="range"]:focus::-moz-range-thumb {
 border: 1px solid #053a5f;
 outline: 3px solid #053a5f;
 outline-offset: 0.125rem; 
}
.transform-component-module_wrapper__1_Fgj, .transform-component-module_content__2jYgh{
width: initial !important;
}
.transform-component-module_content__2jYgh{
display: block !important;
}
.google-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.google-logo img{
  padding-top: 5px;
  cursor: pointer;
  transition: 0.3s all;
}
.google-logo img:hover{
  transform: scale(1.1);
}
.close-modal-window{
  display: none !important;
}
.spinner{
  width: 70px;
  position: absolute;
  margin: auto;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}
.iniciar-sesion:hover{
  cursor: pointer;
  color:var(--button-primary)
}
.close-session{
  display: flex;
  align-items: center;
}
.close-session .iniciar-sesion{
  padding-left: 5px;
}
@media only screen and (max-width: 1100px) {
  .page{
    width: 60%;
    top:350px;
    left: 80px;
  }
}
@media only screen and (max-width: 700px) {
  .page{
    width: 85%;
    top:230px;
    left: 80px;
    margin-bottom: 0;
  }
  body{
    height: 100vh;
  }
  .header-img{
    width: 280px;
    height: 180px;
  }
  .avatar-div{
    top:85px;
  }
  .avatar-div p {
    font-size: 8px;
  }
  .avatar{
    width: 30px !important;
    height: 30px !important;
  }
  .logo img{
    max-width: 50px;
  }
  .iconos-menu svg{
    font-size: 20px;
    margin: 10px 30px;
  }
  .zoom-range .zoom-icon{
    width: 15px;
  }
  .zoom-bar p{
    font-size: 10px;
  }
  /* .navbar-footer {
    bottom:0;
    right: 0;
    left: 0;
    top:50em !important;
    margin: auto;
    padding: 10px;
    height: 100px;
    border-radius: 0;
  }
  .navbar-footer ul{
    display: flex !important;
    flex-direction: row;
  } */
  .body-img{
    
    max-width: 279px;
   }
}
